<script>
  // var list = [
  //   { id: 1, name: "冰箱", pid: "" },
  //   { id: 2, name: "海尔冰箱", pid: 1 },
  //   { id: 3, name: "美的冰箱", pid: 1 },
  //   { id: 4, name: "电视", pid: "" },
  //   { id: 5, name: "小米电视", pid: 4 },
  //   { id: 6, name: "手机", pid: 5 },
  //   { id: 7, name: "空调", pid: 5 },
  //   { id: 8, name: "电脑", pid: 6 },
  // ];
  // function fn(list, pid) {
  //   var arr = [];
  //   list.forEach((item) => {
  //     if (item.pid === pid) {
  //       arr.push(item);
  //       item.children = fn(list, item.id);
  //       if (item.children.length < 1) {
  //         delete item.children;
  //       }
  //     }
  //   });
  //   return arr;
  // }
  // console.log(fn(list, ""));
  var aa=1
  var arr = ["1"];
  console.log(Object.prototype.toString.call(120));
  console.log(Object.prototype.toString.call(arr));
  console.log(Object.prototype.toString === arr.__proto__.__proto__.toString);
  const to = arr.__proto__.__proto__.toString
  console.log(aa.__proto__.__proto__.toString.call(aa));
  console.log(to.call(aa));
</script>
